*{
	margin: 0;
	padding: 0;
}

#menu{
	width: 600px;
	height: 40px;
	background-color: #eeeeee;
	margin: 0 auto;
}

ul{
	list-style-type: none;
}

ul li{
	float: left;
	position: relative;
	line-height: 40px;
}

ul li ul{
	display: none;
	width: 90px;
	position: absolute;
}

ul li ul li{
	margin-top: 2px;
	background-color: #eeeeee;
}

ul li:hover ul{
	display: block;
}

a{
	display: block;
	width: 90px;
	color: black;
	text-align: center;
	text-decoration: none;
}

a:hover{
        color: #ffffff;
        background-color: #666666;
}