*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #e6e6e6;
	color: #ffffff;
}

.nav{
	background-color: black;
	height: 50px;
}

.navbar{
	float: right;
	margin-right: 10px;
	list-style-type: none;
}

.navbar li{
	float: left;
	position: relative;
	width: 60px;
	line-height: 50px;
	padding: 0 5px;
	cursor: pointer;
}

.navbar a{
	display: block;
	text-decoration: none;
	font-size: 15px;
    font-family: "Microsoft Yahei";
	height: 50px;
	text-align: center;
	color: #ffffff;
}

.navbar li:hover{
	background-color: #288add;
}

.navbar li:hover ul{
	display: block;
	background-color: black;
}

.navbar ul{
	position: absolute;
	left: 0;
	list-style-type: none;
	display: none;
}