body{
    min-height: 3000px;
}

/* 全部分类菜单 */
.slider-nav{
    width: 234px;
    height: 420px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
}
.slider-nav .slider-li .name{
    color: #ffffff;
}
.slider-nav .slider-pop{
    top: 0;
    left: 234px;
    border-left: none;
}
#page-all-nav .slider-nav{
    visibility: visible;
}

/* 首页轮播 */
.idx-banner{
    width: 1206px;
    height: 460px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.idx-banner ul{
    width: 20000px;
}
.idx-banner li{
    width: 1206px;
    float: left;
    height: 460px;
    position: relative;
}
.idx-banner li img{
    width: 1206px;
    height: 460px;
}
.idx-banner li a{
    position: absolute;
    width: 972px;
    height: 460px;
    top: 0;
    right: 0;
}
.idx-banner .btn{
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 40px;
    height: 70px;
    background-image: url(http://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
}
.idx-banner .btn.prev{
    background-position: -83px 0;
    left: 234px;
}
.idx-banner .btn.next{
    background-position: top right;
    right: 0;
}
.idx-banner .btn.prev:hover{
    background-position: left top;
}
.idx-banner .btn.next:hover{
    background-position: -42px 0;
}
.idx-banner .page{
    position: absolute;
    bottom: 30px;
    right: 0;
    height: 10px;
    z-index: 1000;
    width: 100%;
    text-align: right;
    padding-right: 35px;
}
.idx-banner .page a{
    display: inline-block;
    margin: 0 5px;
    width: 6px;
    height: 6px;
    border: 2px solid #ffffff;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background-color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.4);
}
.idx-banner .page a:hover{
    border-color: #757575;
    border-color: rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.4);
}
.idx-banner .page span{
    visibility: hidden;
}

/* 菜单区域和广告位 */
.idx-menu-adv{
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.idx-menu-adv .menu{
    width: 228px;
    height: 164px;
    background-color: #5f5750;
    float: left;
    padding: 3px;
}
.idx-menu-adv .menu li{
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}
.idx-menu-adv .menu li a{
    display: block;
    padding-top: 18px;
    text-align: center;
    width: 70px;
    height: 46px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.7;
}
.idx-menu-adv .menu li a:hover{
    color: #ffffff;
    opacity: 1;
}
.idx-menu-adv .menu img{
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 23px 4px;
}
.idx-menu-adv .menu li::before{
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    position: absolute;
    content: "";
    background: #665e57;
}
.idx-menu-adv .menu li::after{
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    position: absolute;
    background: #665e57;
    content: "";
}
.idx-menu-adv .pic{
    display: block;
    width: 304px;
    height: 165px;
    margin-left: 20px;
    float: left;
}   
.idx-menu-adv .pic img{
    width: 304px;
    height: 170px;
    display: block;
}

/* 广告图 */
.idx-adv img{
    width: 100%;
    display: block;
}

/* 大内容区 */
.idx-container{
    background-color: #f5f5f5;
    margin-top: 40px;
}
.idx-title{
    overflow: hidden;
    line-height: 60px;
    margin-top: 20px;
}
.idx-title .tit{
    font-size: 22px;
    color: #666666;
}
.idx-title .see-all{
    float: right;
    text-decoration: none;
    color: #424242;
    font-size: 16px;
}
.idx-title .see-all i{
    width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    background-color: #b0b0b0;
    color: #ffffff;
}
.idx-title .see-all:hover{
    color: #ff6700;
}
.idx-title .see-all:hover > i{
    background-color: #ff6700;
}
.idx-container .idx-box{
    height: 615px;
    clear: both;
}
.idx-container .col-5{
    width: 229px;
    margin-left: 15px;
    margin-bottom: 15px;
    float: left;
}
.idx-container .col-5:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.idx-box .adv-box{
    float: left;
}
.idx-box .adv-box.col-5{
    margin-left: 0;
}
.idx-box .adv-box .single img{
    width: 229px;
    display: block;
    height: 615px;
}
.idx-box .good-box{
    float: right;
    width: 977px;
}
.idx-box .good-item{
    background-color: #ffffff;
    height: 300px;
    position: relative;
}
.idx-box .good-item .tags{
    width: 64px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
}
.idx-box .good-item .tags.new{
    background-color: #83c44e;
}
.idx-box .good-item .tags.disount{
    background-color: #e53935;
}
.idx-box .good-item .pic img{
    height: 160px;
    width: 160px;
    display: block;
    margin: 20px auto;
}
.idx-box .good-item .name{
    width: 200px;
    margin: 0 auto 2px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.idx-box .good-item .name a{
    text-decoration: none;
    color: #333333;
}
.idx-box .good-item .desc{
    width: 210px;
    color: #b0b0b0;
    margin: 0 auto;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
}
.idx-box .good-item .price{
    text-align: center;
    margin-top: 18px;
}
.idx-box .good-item .price span{
    color: #ff6700;
}
.idx-box .good-item .price i{
    font-style: normal;
    text-decoration: line-through;
    margin-left: 5px;
    color: #b0b0b0;
}