/* 全部分类菜单 */
.slider-nav{
    width: 234px;
    height: 420px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
}
.slider-nav .slider-li .name{
    color: #ffffff;
}
.slider-nav .slider-pop{
    top: 0;
    left: 234px;
    border-left: none;
}
#page-all-nav .slider-nav{
    visibility: visible;
}

/* 首页轮播 */
.idx-banner{
    width: 1206px;
    height: 460px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.idx-banner ul{
    width: 20000px;
}
.idx-banner li{
    width: 1206px;
    float: left;
    height: 460px;
    position: relative;
}
.idx-banner li img{
    width: 1206px;
    height: 460px;
}
.idx-banner li a{
    position: absolute;
    width: 972px;
    height: 460px;
    top: 0;
    right: 0;
}
.idx-banner .btn{
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 40px;
    height: 70px;
    background-image: url(http://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
}
.idx-banner .btn.prev{
    background-position: -83px 0;
    left: 234px;
}
.idx-banner .btn.next{
    background-position: top right;
    right: 0;
}
.idx-banner .btn.prev:hover{
    background-position: left top;
}
.idx-banner .btn.next:hover{
    background-position: -42px 0;
}
.idx-banner .page{
    position: absolute;
    bottom: 30px;
    right: 0;
    height: 10px;
    z-index: 1000;
    width: 100%;
    text-align: right;
    padding-right: 35px;
}
.idx-banner .page a{
    display: inline-block;
    margin: 0 5px;
    width: 6px;
    height: 6px;
    border: 2px solid #ffffff;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    background-color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.4);
}
.idx-banner .page a:hover{
    border-color: #757575;
    border-color: rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.4);
}
.idx-banner .page span{
    visibility: hidden;
}

/* 菜单区域和广告位 */
.idx-menu-adv{
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.idx-menu-adv .menu{
    width: 228px;
    height: 164px;
    background-color: #5f5750;
    float: left;
    padding: 3px;
}
.idx-menu-adv .menu li{
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}
.idx-menu-adv .menu li a{
    display: block;
    padding-top: 18px;
    text-align: center;
    width: 70px;
    height: 46px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.7;
}
.idx-menu-adv .menu li a:hover{
    color: #ffffff;
    opacity: 1;
}
.idx-menu-adv .menu img{
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 23px 4px;
}
.idx-menu-adv .menu li::before{
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    position: absolute;
    content: "";
    background: #665e57;
}
.idx-menu-adv .menu li::after{
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    position: absolute;
    background: #665e57;
    content: "";
}
.idx-menu-adv .pic{
    display: block;
    width: 304px;
    height: 165px;
    margin-left: 20px;
    float: left;
}   
.idx-menu-adv .pic img{
    width: 304px;
    height: 170px;
    display: block;
}

/* 广告图 */
.idx-adv img{
    width: 100%;
    display: block;
}

/* 大内容区 */
.idx-container{
    background-color: #f5f5f5;
    margin-top: 40px;
}
.idx-container .idx-adv{
    margin-top: 40px;
}
.idx-title{
    overflow: hidden;
    line-height: 60px;
    margin-top: 30px;
}
.idx-title .tit{
    font-size: 22px;
    color: #666666;
}
.idx-title .see-all{
    float: right;
    text-decoration: none;
    color: #424242;
    font-size: 16px;
}
.idx-title .see-all i{
    width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    background-color: #b0b0b0;
    color: #ffffff;
}
.idx-title .see-all:hover{
    color: #ff6700;
}
.idx-title .see-all:hover > i{
    background-color: #ff6700;
}
.idx-title .list{
    width: 400px;
    float: right;
    text-align: right;
    position: relative;
}
.idx-title .list li{
    display: inline-block;
    font-size: 16px;
    margin-left: 30px;
}
.idx-title .list li a{
    text-decoration: none;
    color: #333333;
}
.idx-title .list li.active,
.idx-title .list li:hover{
    border-bottom: 2px solid #ff6700;
}
.idx-title .list li.active > a,
.idx-title .list li:hover > a{
    color: #ff6700;
}
.idx-container .idx-box{
    height: 615px;
    clear: both;
}
.idx-container .col-5{
    width: 229px;
    margin-left: 15px;
    margin-bottom: 15px;
    float: left;
}
.idx-box .adv-box{
    float: left;
}
.idx-box .adv-box.col-5{
    margin-left: 0;
}
.idx-box .adv-box .single img{
    width: 229px;
    display: block;
    height: 615px;
}
.idx-box .adv-box .double img{
    width: 229px;
    display: block;
    height: 300px;
    margin-bottom: 15px;
}
.idx-box .good-box{
    float: right;
    width: 977px;
}
.idx-box .good-item{
    background-color: #ffffff;
    height: 300px;
    position: relative;
}
.idx-box .good-item .tags{
    width: 64px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
}
.idx-box .good-item .tags.new{
    background-color: #83c44e;
}
.idx-box .good-item .tags.disount{
    background-color: #e53935;
}
.idx-box .good-item .pic img{
    height: 160px;
    width: 160px;
    display: block;
    margin: 20px auto;
}
.idx-box .good-item .name{
    width: 200px;
    margin: 0 auto 2px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.idx-box .good-item .name a{
    text-decoration: none;
    color: #333333;
}
.idx-box .good-item .desc{
    width: 210px;
    color: #b0b0b0;
    margin: 0 auto;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
}
.idx-box .good-item .price{
    text-align: center;
    margin-top: 18px;
}
.idx-box .good-item .price span{
    color: #ff6700;
}
.idx-box .good-item .price i{
    font-style: normal;
    text-decoration: line-through;
    margin-left: 5px;
    color: #b0b0b0;
}
.idx-box .good-item .pop{
    height: 56px;
    position: absolute;
    background-color: #ff6700;
    left: 0;
    bottom: 0;
    padding: 10px 25px;
    display: none;
}
.idx-box .good-item:hover .pop{
    display: block;
}
.idx-box .good-item .pop a{
    text-decoration: none;
    color: #ffffff;
}
.idx-box .good-item .pop h5{
    font-weight: normal;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    margin-bottom: 4px;
}
.idx-box .good-item .pop p a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.6);
}
.idx-box .adv-box .single,
.idx-box .adv-box .double{
    display: block;
}
.idx-box .last-more{
    background-color: #f5f5f5;
    background-color: transparent;
}
.idx-box .last-more:hover{
    box-shadow: none;
}
.idx-box .last-more .good-top,
.idx-box .last-more .good-more{
    background-color: #ffffff;
    height: 142px;
    margin-bottom: 16px;
}
.idx-box .last-more .good-top .sm-img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
    float: right;
    margin-top: 25px;
}
.idx-box .last-more .good-top img{
    width: 80px;
    height: 80px;
    display: block;
}
.idx-box .last-more .txt{
    margin-left: 30px;
    overflow: hidden;
}
.idx-box .last-more .txt a{
    text-decoration: none;
    color: #333333;
}
.idx-box .last-more .txt h3{
    font-weight: normal;
}
.idx-box .last-more .good-top .txt{
    float: left;
    margin-top: 40px;
}
.idx-box .last-more .good-top h3{
    width: 94px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.idx-box .last-more .good-top p{
    color: #ff6700;
    line-height: 30px;
}
.idx-box .last-more .good-more{
    position: relative;
}
.idx-box .last-more .good-more h3{
    font-size: 18px;
    margin-top: 40px;
}
.idx-box .last-more .good-more p{
    line-height: 30px;
}
.idx-box .last-more .good-more i{
    font-size: 60px;
    color: #ff6700;
    position: absolute;
    top: 35px;
    right: 40px;
}
/* 为你推荐 */
.idx-title .page-box{
    width: 71px;
    height: 24px;
    float: right;
    margin-top: 20px;
}
.idx-title .page-box a{
    text-decoration: none;
    text-align: center;
    line-height: 22px;
    display: block;
    font-size: 22px;
    float: left;
    border: 1px solid #e0e0e0;
    height: 22px;
    color: #b0b0b0;
}
.idx-title .page-box a.prev{
    width: 34px;
}
.idx-title .page-box a.next{
    width: 34px;
    border-left: none;
}
.idx-title .page-box a.disabled{
    color: #e0e0e0;
}
.idx-title .page-box a:hover{
    color: #ff6700;
}
.idx-title .page-box a.disabled:hover{
    color: #e0e0e0;
    cursor: default;
}
.idx-box.wntj{
    overflow: hidden;
    height: 340px;
}
.idx-box.wntj .good-box{
    width: 3000px;
    position: relative;
    float: none;
}
.idx-box.wntj .good-item{
    margin-left: 0;
    margin-right: 15px;
}
.idx-box.wntj .good-item .commit{
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
    color: #757575;
}
/* 热评产品 */
.idx-container .rpcp{
    height: 415px;
}
.rpcp .item{
    height: 415px;
}
.idx-container .col-4{
    background-color: #ffffff;
    width: 290px;
    float: left;
    margin-right: 15px;
}
.idx-container .col-4:last-child,
.idx-container .col-4.last{
    margin-right: 0;
}
.rpcp .item img{
    width: 100%;
    height: 212px;
    display: block;
    margin-bottom: 30px;
}
.rpcp .item .txt{
    line-height: 24px;
    margin: 0 30px 30px;
    font-size: 14px;
    font-style: normal;
    text-align: justify;
    height: 72px;
    /* 多行文字时显示...效果 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.rpcp .item .txt a{
    color: #333333;
    text-decoration: none;
}
.rpcp .item .from{
    margin: 0 30px;
    font-weight: normal;
    color: #b0b0b0;
}
.rpcp .item .desc{
    margin: 0 30px;
    font-size: 14px;
    margin-top: 16px;
}
.rpcp .item .desc a{
    color: #333333;
    text-decoration: none;
}
.rpcp .item .desc span{
    color: #e0e0e0;
    padding: 0 2px;
}
.rpcp .item .desc b{
    font-weight: normal;
    color: #ff6700;
}
/* 内容 */
.idx-container .nr{
    height: 420px;
}
.nr .item{
    height: 420px;
    position: relative;
}
.nr .item .tit{
    text-align: center;
    display: block;
    margin-top: 50px;
    font-size: 16px;
    margin-bottom: 20px;
}
.nr .item .box{
    overflow: hidden;
}
.nr .item .box ul{
    overflow: hidden;
    width: 2000px;
    height: 300px;
}
.nr .item .box li{
    width: 290px;
    float: left;
    text-align: center;
}
.nr .item .box li .name{
    font-size: 20px;
    margin: 0 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}
.nr .item .box li .name a{
    text-decoration: none;
    color: #333333;
}
.nr .item .box li .desc{
    margin: 0 50px 25px;
    line-height: 20px;
}
.nr .item .box li .desc a{
    text-decoration: none;
    color: #b0b0b0;
}
.nr .item .box li .price{
    margin-bottom: 20px;
}
.nr .item .box li .pic,
.nr .item .box li .pic img{
    text-decoration: none;
    display: block;
    width: 216px;
    height: 154px;
    margin: 0 auto;
}
.nr .item .pages{
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 20px;
    left: 0;
    text-align: center;
}
.nr .item .pages span{
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    border: 2px solid #f5f5f5;
    background-color: #b0b0b0;
    border-radius: 6px;
    cursor: pointer;
}
.nr .item .pages span.active{
    border-color: #ff6700;
    background-color: #ffffff;
}
.nr .item .pages span:hover{
    background-color: #ff6700;
}
.nr .item .btn{
    width: 20px;
    height: 48px;
    background-color: #b0b0b0;
    background-color: rgba(66, 66, 66, 0.2);
    position: absolute;
    top: 50%;
    margin-top: -24px;
    z-index: 1000;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
    color: #ffffff;
    font-size: 20px;
    display: none;
}
.nr .item .btn.prev{
    left: 0;
}
.nr .item .btn.next{
    right: 0;
}
.nr .item .btn:hover{
    background-color: #cccccc;
    background-color: rgba(66, 66, 66, 0.6);
}
.nr .item:hover .btn{
    display: block;
}
.nr .item .more{
    width: 118px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #eeeeee;
    text-decoration: none;
    margin: 0 auto 38px;
    display: block;
}
.nr .item .more:hover{
    color: #ffffff !important;
}
.nr .item.item-0{
    border-top: 1px solid #fbc45e;
}
.nr .item.item-0 .tit{
    color: #fbc45e;
}
.nr .item.item-0 .more{
    color: #fbc45e;
    border-color: #fbc45e;
}
.nr .item.item-0 .more:hover{
    background-color: #fbc45e;
}
.nr .item.item-1{
    border-top: 1px solid #83c44e;
}
.nr .item.item-1 .tit{
    color: #83c44e;
}
.nr .item.item-1 .more{
    color: #83c44e;
    border-color: #83c44e;
}
.nr .item.item-1 .more:hover{
    background-color: #83c44e;  
}
.nr .item.item-2{
    border-top: 1px solid #e53935;
}
.nr .item.item-2 .tit{
    color: #e53935;
}
.nr .item.item-2 .more{
    color: #e53935;
    border-color: #e53935;
}
.nr .item.item-2 .more:hover{
    background-color: #e53935;  
}
.nr .item.item-3{
    border-top: 1px solid #2196f3;
}
.nr .item.item-3 .tit{
    color: #2196f3;
}
.nr .item.item-3 .more{
    color: #2196f3;
    border-color: #2196f3;
}
.nr .item.item-2 .more:hover{
    background-color: #2196f3;  
}
/* 视频 */
.idx-container .video{
    height: 285px;
    margin-bottom: 60px;
}
.video .item{
    background-color: #ffffff;
    height: 285px;
}
.video .item img{
    width: 100%;
}
.video .item .pic,
.video .item .pic img{
    display: block;
}
.video .item .pic{
    text-decoration: none;
    position: relative;
    text-decoration: none;
}
.video .item .pic .play{
    display: block;
    width: 32px;
    height: 20px;
    position: absolute;
    left: 20px;
    bottom: 10px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    text-align: center;
}
.video .item .pic .play i{
    font-size: 30px;
    line-height: 20px;
    color: #ffffff;
    font-style: normal;
    /* 实现三角形 */
    /* width: 0;
    height: 0;
    display: inline-block;
    border-top: 5px solid transparent;
    border-left: 10px solid blue;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent; */
}
.video .item .pic:hover .play{
    background-color: #ff6700;
    border-color: #ff6700;
}
.video .item h3,
.video .item p{
    margin: 0 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    text-align: center;
}
.video .item h3{
    font-size: 14px;
    margin-top: 30px;
}
.video .item h3 a{
    color: #333333;
    text-decoration: none;
}
.video .item h3 a:hover{
    color: #ff6700;
}
.video .item p{
    margin-top: 14px;
    color: #b0b0b0;
}
.idx-box .good-item:hover,
.idx-box .adv-box .single:hover,
.idx-box .adv-box .double:hover,
.idx-box .last-more .good-top:hover,
.idx-box .last-more .good-more:hover,
.rpcp .item:hover,
.nr .item:hover,
.video .item:hover{
    transform: translate3d(0,-2px,0);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
/* 视频弹框效果 */
.idx-video-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1010;
    background-color: rgba(0, 0, 0, 0.5);
}
.idx-video-box{
    width: 880px;
    height: 596px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -298px;
    margin-left: -440px;
    background-color: #000000;
    z-index: 1100;
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.18);
}
.idx-video-box .tit{
    height: 60px;
    background-color: #f5f5f5;
    padding: 0 20px;
}
.idx-video-box .tit span{
    line-height: 60px;
    font-size: 18px;
    color: #424242;
}
.idx-video-box .tit .close{
    width: 30px;
    height: 30px;
    background-image: url(../img/images/close.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    display: block;
    float: right;
    margin-top: 15px;
    cursor: pointer;
}
.idx-video-box .tit .close:hover{
    background-image: url(../img/images/close_on.png);
}
.idx-video-box .video-box{
    position: relative;
}
.idx-video-box .video-box .pic,
.idx-video-box .video-box video,
.idx-video-box .video-box .pic img{
    width: 880px;
    height: 536px;
}
.idx-video-box .video-box .pic{
    position: absolute;
    top: 0;
    left: 0;
}
.idx-video-box .btn{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    z-index: 100;
    display: block;
    background-image: url(http://hd.mi.com/f/zt/hd/miplayer2/images/big_play_btn.png);
}
