h1, h2, h3, h4, h5, h6{
    font-size: 100%;
}
body, button, input, select, textarea{
    font: 12px/1.5 tahoma, arial, \5b8b\4f53;
}
address, cite, dfn, em, var{
    font-style: normal;
}
code, kbd, pre, samp{
    font-family: 'Courier New', Courier, monospace;
}
small{
    font-style: 12px;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
sup{
    vertical-align: text-top;
}
sub{
    vertical-align: text-bottom;
}
legend{
    color: #000000;
}
fieldset, img{
    border: 0;
}
button, input, select, textarea{
    font-size: 100%;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}