/* 公共样式 */
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    color: #333333;
}
.container{
    width: 1206px;
    margin: 0 auto;
    border: 1px solid transparent;
}
.mt0{
    margin-top: 0 !important;
}
/* 顶部样式 */
.page-top{
    height: 38px;
    background-color: #323232;
}
.page-top .top-lt{
    color: #ffffff;
    line-height: 38px;
    float: left;
}
.page-top .top-lt a{
    color: #a2a2a2; 
    text-decoration: none;
}
.page-top .top-lt span{
    color: #3f3f3f;
    padding: 0 3px;
}
.page-top .top-lt a:hover{
    color: #ffffff;
}
.page-top .top-lt .download{
    position: relative;
    display: inline-block;
}
.page-top .top-lt .down-box{
    width: 126px;
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -63px;
    background-color: #ffffff;
    padding-top: 20px;
    box-shadow: rgb(170, 170, 170) 0 1px 5px;
    text-align: center;
    display: none;
    z-index: 1000;
}
.page-top .top-lt .down-box img{
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}
.page-top .top-lt .download i{
    font-size: 14px;
    color: #323232;
    font-style: normal;
}
.page-top .top-lt .download:hover i{
    color: #323232;
}
.page-top .top-lt .download:hover .down-box{
    display: block;
}
.page-top .top-gt{
    float: right;
}
.page-top .top-gt .login{
    color: #a2a2a2;
    line-height: 38px;
    float: right;
    margin-right: 20px;
}
.page-top .top-gt .login a{
    color: #a2a2a2; 
    text-decoration: none;
}
.page-top .top-gt .login a:hover{
    color: #ffffff; 
}
.page-top .top-gt span{
    color: #3f3f3f;
    padding: 0 3px;
}
.page-top .userinfo{
    float: right;
    margin-right: 20px;
    vertical-align: bottom;
}
.page-top .userinfo .link:hover{
    color: #ffffff;
}
.page-top .userinfo span{
    padding: 0 3px;
    color: #3f3f3f;
}
.page-top .userinfo .user{
    width: 120px;
    display: inline-block;
    position: relative;
    height: 39px;
}
.page-top .userinfo .user .tit{
    line-height: 38px;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1000;
}
.page-top .userinfo .user ul{
    display: none;
    position: absolute;
    left: 0;
    top: 38px;
    width: 120px;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.page-top .userinfo .user li{
    line-height: 30px;
    text-align: center;
}
.page-top .userinfo li:hover{
    background-color: #f5f5f5;
    color: #ff6700;
}
.page-top .userinfo a{
    color: #a2a2a2;
    text-decoration: none;
}
.page-top .userinfo .user li a{
    color: #323232;
}
.page-top .userinfo li:hover > a{
    display: block;
    color: #ff6700;
}
.page-top .userinfo .user:hover{
    background-color: #ffffff;
}
.page-top .userinfo .user:hover .tit{
    color: #ff6700;
}
.page-top .userinfo .user:hover > ul{
    display: block;
}
.page-top .top-gt .car-box{
    float: right;
    position: relative;
}
.page-top .car-box .tit{
    top: -1px;
    height: 38px;
    width: 118px;
    display: block;
    line-height: 38px;
    text-align: center;
    background-color: #424242;
    color: #a2a2a2;
    text-decoration: none;
    position: relative;
    z-index: 1000;
}
.page-top .car-box .tit span{
    color: #a2a2a2;
}
.page-top .car-box .tit i{
    font-size: 18px;
    vertical-align: top;
}
.page-top .car-box .pop{
    display: none;
    width: 316px;
    position: absolute;
    top: 38px;
    right: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    background-color: #ffffff;
}
.page-top .car-box .no-good{
    text-align: center;
    padding: 40px 0;
}
.page-top .pop .list{
    padding: 0 20px;
    margin-top: 15px;
    max-height: 450px;
    overflow-y: scroll;
}
.page-top .pop .list li{
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
    overflow: hidden;
}
.page-top .pop .list .pic{
    float: left;
}
.page-top .pop .list li:last-child{
    border: none;
}
.page-top .pop .list img{
    width: 70px;
    height: 70px;
}
.page-top .pop .list .txt{
    width: 120px;
    float: left;
    line-height: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page-top .pop .list .txt:hover{
    color: #ff6700;
}
.page-top .pop .list .number{
    float: right;
    text-align: right;
}
.page-top .pop .list .number h4{
    margin-top: 12px;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 10px;
}
.page-top .pop .list .number i{
    font-style: normal;
    cursor: pointer;
    color: #aaaaaa;
}
.page-top .pop .list .number i:hover{
    color: #333333;
}
.page-top .pop .total{
    background-color: #fafafa;
    padding: 15px 10px;
    overflow: hidden;
}
.page-top .pop .total .price{
    float: left;
}
.page-top .pop .total .price p{
    color: #7e7e7e;
}
.page-top .pop .total .price h3{
    font-size: 20px;
    color: #ff6700;
    font-weight: normal;
    margin-top: 5px;
}
.page-top .pop .total .btn{
    display: block;
    width: 132px;
    height: 40px;
    background-color: #ff6600;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    float: right;
}
.page-top .car-box:hover .tit{
    background-color: #ffffff;
    color: #ff6700;
}
.page-top .car-box:hover .pop{
    display: block;
}

/* 导航样式 */
.page-nav{
    height: 96px;
    position: relative;
    z-index: 1;
}
.page-nav .logo{
    display: block;
    float: left;
    margin-right: 45px;
    height: 54px;
    width: 54px;
    margin-top: 21px;
    background: #ff6700 url(http://s01.mifile.cn/i/mi-logo.png) no-repeat center center;
}
.page-nav .nav .nav-item{
    margin-left: 16px;
    float: left;
    margin-top: 24px;
    padding: 12px 2px 0;
    height: 60px;
}
.page-nav .nav .nav-item .tit{
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}
.page-nav .nav .nav-item:hover .tit{
    color: #ff6700;
}
.page-nav .nav-item .pop{
    position: absolute;
    width: 100%;
    height: 230px;
    left: 0;
    top: 96px;
    background-color: #ffffff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    border-top: 1px solid #e0e0e0;
    display: none;
    z-index: 1000;
}
.page-nav .down-li{
    width: 180px;
    float: left;
    padding-top: 30px;
    text-align: center;
    position: relative;
}
.page-nav .down-li .pic img{
    width: 160px;
    height: 110px;
}
.page-nav .down-li .name{
    font-weight: normal;
    font-size: 13px;
    margin-top: 20px;
}
.page-nav .down-li .price{
    color: #ff6700;
    margin-top: 5px;
}
.page-nav .down-li .tags{
    width: 64px;
    height: 20px;
    border: 1px solid #ff6700;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 50%;
    top: -1px;
    margin-left: -32px;
    color: #ff6700;
    z-index: 1000;
}
.page-nav .down-li i{
    background-color: #e0e0e0;
    width: 1px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 36px;
}
.page-nav .down-li:last-child i{
    display: none;
}
.page-nav .nav .nav-item:hover .pop{
    display: block;
}
/* 全部分类菜单样式 */
#page-all-nav{
    visibility: hidden;
    position: relative;
}
.slider-nav{
    position: absolute;
    width: 232px;
    height: 418px;
    border: 1px solid #ff6700;
    background-color: #ffffff;
    left: -115px;
    top: 72px;
    padding: 20px 0;
    z-index: 1000;
}
.slider-nav .slider-li{
    height: 42px;
    padding: 0 24px 0 30px;
    line-height: 42px;
}
.slider-nav .slider-li .name{
    font-size: 13px;
    text-decoration: none;
    color: #333333;
    display: block;
}
.slider-nav .slider-li span{
    margin-right: 5px;
}
.slider-nav .slider-li i{
    float: right;
}
.slider-nav .slider-li:hover{
    background-color: #ff6700;
}
.slider-nav .slider-li:hover > a{
    color: #ffffff;
}
.slider-nav .slider-li:hover > .slider-pop{
    display: block;
}
.slider-nav .slider-pop{
    display: none;
    position: absolute;
    border: 1px solid #e0e0e0;
    width: 975px;
    height: 458px;
    top: -1px;
    left: 233px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
}
.slider-nav .pop-li{
    float: left;
    width: 207px;
    overflow: hidden;
    padding: 18px 15px;
    text-decoration: none;
}
.slider-nav .pop-li img{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 16px;
}
.slider-nav .pop-li:hover p{
    color: #ff6700;
}
/* 搜索框 */
.page-nav .search{
    position: relative;
    float: right;
    margin-top: 24px;
}
.page-nav .search .q{
    width: 231px;
    height: 48px;
    border: 1px solid #e0e0e0;
    border-right: none;
    outline: none;
    line-height: 48px;
    padding-left: 4px;
    float: left;
}
.page-nav .search .tags{
    height: 18px;
    position: absolute;
    top: 50%;
    right: 60px;
    width: 110px;
    text-align: right;
    margin-top: -9px;
}
.page-nav .search .tags span{
    color: #757575;
    line-height: 18px;
    padding: 0 5px;
    background-color: #eeeeee;
    font-size: 12px;
    cursor: pointer;
    margin-left: 5px;
}
.page-nav .search .tags span:hover{
    background-color: #ff6700;
    color: #ffffff;
}
.page-nav .search .btn{
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
    float: left;
    background-color: #ffffff;
    font-size: 24px;
    color: #616161;
    cursor: pointer;
}
.page-nav .search:hover .q,
.page-nav .search:hover .btn{
    border-color: #b0b0b0;
}
.page-nav .active .q,
.page-nav .active .btn{
    border-color: #ff6700;
}
.page-nav .search .btn:hover{
    background-color: #ff6700;
    color: #ffffff;
    border-color: #ff6700;
}
.page-nav .search .hot{
    position: absolute;
    top: 50px;
    left: 0;
    width: 234px;
    border: 1px solid #ff6700;
    border-top: none;
    display: none;
}
.page-nav .search .hot li{
    line-height: 30px;
}
.page-nav .search .hot li a{
    text-decoration: none;
    display: block;
    padding: 0 15px;
    color: #535353;
}
.page-nav .search .hot li:hover{
    background-color: #fafafa;
}
.page-nav .search .hot li i{
    float: right;
    font-style: normal;
    color: #b0b0b0;
}

/* 页脚代码 */
.page-foot .ts{
    overflow: hidden;
    margin: 30px auto;
}
.page-foot .ts li{
    float: left;
    width: 240px;
    border-right: 1px solid #e0e0e0;
    line-height: 25px;
    text-align: center;
}
.page-foot .ts li:last-child{
    border: none;
}
.page-foot .ts li i{
    font-size: 24px;
    line-height: 24px;
    margin-right: 5px;
    vertical-align: -4px;
}
.page-foot .ts li a:hover{
    color: #ff6700;
}
.ts li a{
    font-size: 16px;
    text-decoration: none;
    color: #616161;
}
.page-foot .nav{
    border-top: 1px solid #e0e0e0;
    padding-top: 40px;
    overflow: hidden;
}
.page-foot .nav .lt{
    float: left;
    width: 964px;
    overflow: hidden;
    border-right: 1px solid #e0e0e0;
}
.page-foot .nav .lt dl{
    width: 160px;
    float: left;
}
.page-foot .nav .lt dt{
    color: #424242;
    font-size: 14px;
    line-height: 40px;
}
.page-foot .nav .lt dd{
    line-height: 30px;
}
.page-foot .nav .lt dd a{
    color: #757575;
    text-decoration: none;
}
.page-foot .nav .lt dd a:hover{
    color: #ff6700;
}
.page-foot .nav .gt{
    width: 240px;
    float: right;
    text-align: center;
}
.page-foot .nav .gt h3{
    font-weight: normal;
    color: #ff6700;
    font-size: 22px;
}
.page-foot .nav .gt h4{
    line-height: 30px;
    font-weight: normal;
    font-size: 12px;
    color: #616161;
}
.page-foot .nav .gt p{
    color: #616161;
}
.page-foot .nav .gt .contact{
    text-decoration: none;
    margin: 20px auto;
    display: block;
    width: 128px;
    height: 28px;
    border: 1px solid #ff6700;
    line-height: 28px;
    color: #ff6700;
}
.page-foot .nav .gt .contact i{
    margin-right: 3px;
}.page-foot .nav .gt .contact:hover{
    color: #ffffff;
    background-color: #ff6700;
}
.page-foot .bot{
    height: 230px;
    margin-top: 20px;
    padding-top: 30px;
    overflow: hidden;
    background: #fafafa url(http://s02.mifile.cn/assets/static/image/slogan2016.png) center 220px no-repeat;
}
.page-foot .bot .logo{
    display: block;
    float: left;
    height: 54px;
    width: 54px;
    background: #ff6700 url(http://s01.mifile.cn/i/mi-logo.png) no-repeat center center;
}
.page-foot .bot .txt{
    width: 1142px;
    float: right;
}
.page-foot .bot .txt .list{
    font-weight: normal;
    line-height: 20px;
}
.page-foot .bot .txt .list a{
    text-decoration: none;
    color: #b0b0b0;
}
.page-foot .bot .txt .list span{
    color: #b0b0b0;
    padding: 0 2px;
}
.page-foot .bot .txt p{
    color: #b0b0b0;
    line-height: 18px;
}
.page-foot .bot .txt p a{
    margin-top: 0 3px;
    color: #b0b0b0;
    text-decoration: none;
}
.page-foot .bot .txt a:hover{
    color: #ff6700;
}
.page-foot .bot .txt ul{
    overflow: hidden;
    margin-top: 8px;
}
.page-foot .bot .txt li{
    float: left;
    margin-right: 10px;
}
.page-foot .bot .txt li img,
.page-foot .bot .txt li{
    width: 84px;
    height: 28px;
    display: block;
}
/* 侧边栏样式 */
.page-slider{
    position: fixed;
    right: 0;
    bottom: 70px;    
    width: 82px;
}
.page-slider li{
    position: relative;
    height: 92px;
    width: 82px;
    border-bottom: 1px solid #f5f5f5;
    background-color: #ffffff;
    position: relative;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}
.page-slider .my-icon{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 20px auto 10px;
}
.page-slider li:hover span{
    color: #ff6700;
}
.page-slider .my-icon img{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}
.page-slider li.last{
    margin-top: 14px;
}
.page-slider li span{
    font-size: 14px;
    color: #757575;
}
.page-slider li .hover-img{
    display: none;
}
.page-slider li:hover .hover-img,
.page-slider li:hover .pop,
.page-slider li:hover .arrow{
    display: block;
}
.page-slider li .pop{
    display: none;
    position: absolute;
    right: 82px;
    top: -1px;
    z-index: 1000;
    padding: 0 8px;
}
.page-slider li .pop a{
    display: block;
    width: 130px;
    height: 188px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}
.page-slider li .pop img{
    width: 100px;
    height: 100px;
    margin: 20px auto 10px;
}
.page-slider li .pop a{
    text-decoration: none;
    font-size: 14px;
    color: #757575;
}
.page-slider li .arrow{
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #ffffff;
    position: absolute;
    top: 48px;
    left: -8px;
    z-index: 1000;
    display: none;
}